<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href={{path("index")}}>Quizz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Historique<span class="sr-only">(current)</span></a>
            </li>
            </ul>
        </div>
        </nav>
        <div class='container'>
            <table class="table table-dark">
                <thead>
                    <tr>
                    <th scope="col">Id_user</th>
                    <th scope="col">Id_Game</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in result %}
                        <tr>
                            <th scope="row">{{r.user}}</th>
                            <td>{{r.id_game}}</td>
                            <td>{{r.categorie}}</td>
                            <td>{{r.date}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
