<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Quizz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href={{path("historique")}}>Historique<span class="sr-only">(current)</span></a>
            </li>
            {% if app.user == null%}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("register") }}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("login") }}">Connexion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path("create_quizz") }}">Create Quizz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_logout") }}">Deconnexion</a>
            </li>
            {% endif %}
            </ul>
        </div>
        </nav>
        <div class='container'>
        {% for cat in categorie %}
            <div  class='d-flex justify-content-center p-2'><a href="index.php/categorie/{{ cat.id }}/0" class='border text-decoration-none p-2'>{{ cat.name }}</a></div>
        {% endfor %}
        </div>
    </body>
</html>
