<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Quizz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Historique<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inscription</a>
            </li>
            </ul>
        </div>
        </nav>
        <div class="question">
            <h5 class="text-center pt-3"><b>{{ questions.question }}</b><h5/>
            <div class="d-flex justify-content-center">
                    <div class='d-flex flex-column'>
                        {% for res in reponse %}
                        <form method="post" name="reponse" action=../../reponse/{{ id }}/{{ questions.id }}>
                            <div class='p-2'>
                                <button>
                                    {{ res.reponse }}
                                </button>
                                <input name="idResponse" type="hidden" value={{res.id}}>     
                                <input name="idQes" type="hidden" value={{idQuestion}}>
                                <input name="id_game" type="hidden" value={{id_game}}>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </body>
</html>
