<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href={{path("index")}}>Quizz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Historique<span class="sr-only">(current)</span></a>
            </li>
            </ul>
        </div>
        </nav>
        <div class='container'>
        {% set score = 0 %}
            {% for key in questions|keys %}
                <h5>{{questions[key].question}}</h5>
                {% for rep in reponse[key] %}
                    {% if rep.id == resultat[key].id_reponse %}
                        <li>{{rep.reponse}} Tu as selectionne cette reponse</li>
                        {% if rep.reponse_expected == 1 %}
                            {% set score = score + 1 %}
                            <span>Bonne reponse</span>
                        {% endif %}
                    {% else %}
                        <li>{{rep.reponse}}</li>
                        {% if rep.reponse_expected == 1 %}
                            <span>Bonne reponse</span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            score : {{score}}/{{countQ}}
        </div>
    </body>
</html>
